h2{
  text-align: center;
  border-radius: 7px;
}
#stats{
  /* position: absolute;
  background: #909090;
  top: 80px;
  left: 25%;
  width: 50%;
  height: 100px;
  height: fit-content;
  border-radius: 7px; */
  display: none;
}

.popup {
  position: absolute;
  margin: auto;
  top: 80px;
  left: 8%;
  right: 8%;
  width: 600px;
  min-height: 200px;
  height: fit-content;
  background: white;
  border: 5px solid;
  border-color: grey;
  border-radius: 7px;
  justify-content: space-around;
  display:none;
}
.content-wrapper{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding: 20px;
}

.content-wrapper-vertical{
  display: flex; 
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content-wrapper-instructions{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 20px;
  text-align: left;
}

.stat{
  flex-flow: row;
  margin: auto;
}

.close{
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
}

@media screen and (max-width: 700px ) {
  .popup{
    width:90%;
    left: 5%;
    right: 5%;
    height: fit-content;
  }
  .content-wrapper{
    flex-flow: column;
    text-align: center;
  }
  .stat{
    margin: 10px;
  }
}
